
<div class="header">
        <h1>Dashboard</h1>
        <div class="search-bar">
            <span>🔍</span>
            <input type="text" placeholder="Search" />
        </div>
        <div class="profile">
            <div class="profile-image">
                <img src="~/images/home/avatars/avatar-trang-4.jpg" alt="Profile Image" />
            </div>
            <div class="profile-info">
                <h3></h3>
                <p style="margin-bottom: 0rem !important"></p>
            </div>
        </div>
    </div>

